form input{padding:  7.5px; margin-top: 9px; width: 60%;}
form{text-align: center;padding: 50px ; margin:auto 500px; background-color: rgb(9, 243, 255);}
form button{padding:7.5px ; margin-top:9px; background-color: rgb(124, 165, 229); width: 60%; color: white;}